@import '@/assets/style/constants';

.root {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #e2efec;
  gap: 12px;

  textarea {
    white-space: break-spaces;
  }

  a {
    cursor: pointer;
  }
}
