.container {
  width: 100vw;
  max-width: 100%;
  height: max-content;
  background-color: red;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;

  svg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
