.section {
  display: flex;
  background-color: #f4f4f4;
  padding: 2.5rem;
  border-radius: 10px;
  flex-direction: column;
  width: 900px;
  height: 400px;
  margin: 0 auto;
  font-family: 'Sora';
  font-weight: 600;
  font-size: 12px;
}
