$main-font: 'Sora', 'Helvetica', 'Arial', sans-serif;

// Font styles
$light: 300;
$regular: 400;
$semi-bold: 600;

// Transition
$transition-time: 0.3s ease;

// Media Queries
$width-xs: 575.98px;
$width-sm: 767.98px;
$width-md: 991.98px;
$width-lg: 1199.98px;

// Colors
$blue: #009c97;
$blue-dark: #006a66;
$red: #eb3d3d;
$red-light: #f05454;
$red-dark: #d03333;
$green: #32d957;
$green-light: #50e170;
$green-dark: #28bb49;
$yellow: #ffce52;
$yellow-light: #ffd76b;
$yellow-dark: #d9b043;
$white: #f7f2fa;
$white-light: #fefbff;
$white-dark: #edeaef;
$black: #232224;
$black-light: #353436;
$black-dark: #161617;
