@import './constants';

html {
  scroll-behavior: smooth;
}

body,
#root {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: $main-font;
}

* {
  box-sizing: border-box;
  text-size-adjust: 100%;
}
