@import '@/assets/style/constants';

.root {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 15px;
  color: $white;

  .center {
    display: flex;
    align-items: center;
    gap: 20px;
    
    a {
      text-decoration: none;
      color: $white;

      &:visited {
        color: $white;
      }
    }
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
